:root {
    --primary-color: #2E2F42;
    --second-color: #434455;
    --third-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
    --hover-color: #404BBF;
    --background: #E7E9FC;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-color);
    background-color: var(--white-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: var(--primary-color);
}

.list {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--accent-color);
}

.header-logo {
    color: var(--primary-color);
}

.header-nav-list .link {
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-list .link:hover,
.header-nav-list .link:focus {
    color: var(--hover-color);
    text-decoration: underline;
}


.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
    color: var(--hover-color);
}

.address {
    font-style: normal;
}

.hero {
    background-color: var(--primary-color);
}

.hero-title {
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.hero-order-btn {
    background: var(--accent-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-order-btn:hover,
.hero-order-btn:hover {
    background-color: var(--hover-color);
}

.section-title {
    line-height: 1.11;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
}

.list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    color: var(--primary-color);
}

.portfolio-list-item-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-list-item-text {
    color: var(--second-color);
}


.list-item-text {
    color: var(--second-color);
}

.section-our-team {
    background-color: var(--background);
}

.list-item-our-team {
    background-color: var(--white-color);
}

.footer {
    background-color: var(--primary-color);
}

.footer-logo {
    color: var(--third-color)
}

.footer-text {
    color: var(--third-color);
}

.portfolio-filter-btn {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
    background-color: var(--background);
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus,
.portfolio-filter-btn:active {
    color: var(--white-color);
    background-color: var(--hover-color);
}
